* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    overflow-x: clip;
    background-color: #f6f6f6;
    font-family: 'segoe ui',
    ubuntu, helvetica, sans-serif;
    --main-color: #163853;
}
.container {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    font-size: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main {
    display: flex;
    column-gap: 50px;
}
.form-group {
    box-shadow: 0 0 0 1px #ccc;
    background-color: #fff;
    padding: 20px;
}
.input-group {
    margin-top: 15px;
}
textarea {
    width: 100%;
    min-height: 150px;
}
.page {
    display: grid;
    grid-template: 1fr / auto 1fr;
    height: 100%;
    box-shadow: 0 0 0 1px #ccc;
}
.photo {
    display: flex;
    justify-content: center;
    margin-top: 30px !important;
}
.photo img {
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
}
.column {
    display: flex;
    flex-flow: column;
    padding: 30px;
}
.left-column {
    max-width: 300px;
    row-gap: 35px;
    box-shadow: 0 0 0 1px var(--main-color);
    background-color: var(--main-color);
    color: #fff;
}
.right-column {
    row-gap: 30px;
    background-color: #fff;
    padding-top: 40px;
    color: #333;
}
.page h2 {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 15px;
    /* font-family: Poppins, sans-serif; */
    font-weight: 500;
    /* font-weight: 700; */
    font-style: italic;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
}
.page h2 img {
    width: 20px;
}
.left-column h2 {
    /* font-size: 22px; */
    /* font-size: 20px; */
    /* font-size: 18px; */
    /* letter-spacing: 3px; */
    /* text-transform: uppercase; */
}
.right-column h2 {
    /* border-bottom: 1px solid; */
    margin-bottom: 10px;
    /* padding-bottom: 15px; */
    color: var(--main-color);
}
.headline ul {
    padding-top: 8px;
}
.contact ul {
    padding-bottom: 8px;
}
.page .fullname {
    margin-top: -5px;
    font-size: 32px;
    line-height: 38px;
    /* font-family: 'Poppins'; */
    font-weight: 600;
    font-style: italic;
    /* text-transform: uppercase; */

    font-weight: 700;
    letter-spacing: 1px;
}
.page li.headline {
    /* font-family: 'Poppins'; */
    font-style: italic;
    margin-top: 9px !important;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.contact img {
    width: 20px;
}
.page ul {
    list-style: none;
}
.left-column li {
    display: flex;
    align-items: center;
    column-gap: 8px;
    /* font-style: italic; */
}
.page li + li {
    margin-top: 12px;
}
.page p {
    line-height: 25px;
}
.page strong {
    color: var(--main-color);
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }
    html, body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #root, main {
        height: 100%;
    }
    .header, .footer,
    .data-form {
      display: none;
    }
    .left-column {
        background-color: var(--main-color);
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}