* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
p {
    line-height: 25px;
    white-space: pre-line;
}
ul {
    list-style: none;
}
button {
    border: none;
    background: none;
    font-size: 0;
    cursor: pointer;
}
textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    overflow-x: clip;
    background-color: #f6f6f6;
    font-family: 'segoe ui',
    ubuntu, helvetica, sans-serif;
    font-size: 15px;
    --main-color: #163853;
}
.container {
    display: flex;
    flex-flow: column;
    max-width: 1500px;
    min-height: 100%;
    margin: auto;
    padding: 0 30px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
.header h1 {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 36px;
    line-height: 1em;
    color: var(--main-color);
}
.header .icon {
    display: flex;
}
.header .text {
    margin-top: -1px;
    background: linear-gradient(90deg,
    #2b70a8, #298057, #8e9c4c, #fcb442, #fc8d36, #e74444, #d23874, #b75382, #80588f);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.header .actions {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.header .select {
    appearance: none;
    min-width: 140px;
    height: 36px;
    margin-right: 10px;
    border: 1px solid var(--main-color);
    border-radius: 3px;
    background: #fff url(assets/select.svg) no-repeat;
    background-position: right 4px center;
    background-size: 22px;
    padding: 0 10px;
    font-size: 15px;
    color: var(--main-color);
}
.header .select:focus {
    border-color: transparent;
    outline: 1px solid var(--main-color)
}
.header .color {
    align-self: baseline;
    width: 48px;
    height: 48px;
    margin: -3px 6px 0;
    background: url(assets/color.png) center no-repeat;
    background-size: 42px;
}
.header .color input {
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    opacity: 0;
}
 .header .button {
    width: 48px;
    height: 48px;
    outline: 2px solid transparent;
    border: 2px solid;
    border-radius: 50%;
    color: var(--main-color);
    transition: 0.5s ease;
    opacity: 0.9;
 }
 .header .button:hover {
    outline-color: var(--main-color);
    border-color: transparent;
 }
 .header .button svg {
    filter: drop-shadow(0px 0px 0px var(--main-color));
 }
.main {
    flex-grow: 1;
    display: flex;
    column-gap: 50px;
}
.footer {
    padding: 30px 0;
    text-align: center;
}
.footer a {
    margin-left: 5px;
    color: var(--main-color);
    transition: 0.2s ease;
}
.footer a:hover {
    filter: drop-shadow(0 0 0 var(--main-color));
}
/* DATA FORM */

.data-form {
    flex: 0 0 28%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 0 0 1px #e6e6e6;
}
.data-form::after {
    content: "";
    position: absolute;
    inset: auto 0 0;
    height: 30px;
    background: linear-gradient(#fff0, #fff, #fff);
}
.data-form .scroller {
    position: relative;
    height: 100%;
    overflow-y: auto;
}
.data-form .form {
    position: absolute;
    width: 100%;
}
.fieldset {
    border: none;
    box-shadow: 0 0 0 1px #e6e6e6;
    background-color: #fff;
}
.fieldset .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 20px;
}
.fieldset .title {
    font-weight: 500;
    font-style: italic;
    color: var(--main-color);
}
.fieldset .buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.fieldset .rename,
.fieldset .exclude {
    display: flex;
    border: 1px dashed;
    border-color: color-mix(
        in srgb, var(--main-color) 66%, transparent
    ); border-radius: 2px;
    padding: 5px;
    color: var(--main-color);
    transition: border-color 0.5s ease, opacity 0.5s ease;
    opacity: 0.66;
}
.fieldset .rename:hover,
.fieldset .exclude:hover {
    opacity: 1;
}
.fieldset .rename svg {
    margin: 1px 0 -1px;
    transform: rotate(-10deg);
}
.fieldset .edit {
    flex-grow: 1;
    height: 36px;
    border: 1px dashed color-mix(
        in srgb, var(--main-color) 33%, transparent
    ); border-radius: 2px;
    padding: 10px;
    font-size: 15px;
}
.fieldset .edit:focus {
    outline: none;
}
.fieldset .edit +.title,
.edit ~ .buttons .exclude {
    display: none;
}
.edit ~ .buttons .rename {
    background: url(assets/delete.svg) center no-repeat;
}
.edit ~ .buttons .rename svg {
    opacity: 0;
}
.fieldset .body {
    position: relative;
    padding: 0 20px 30px;
}
.input-group {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px 10px;
    align-items: center;
}
.input-group:has(
    label:empty) {
    grid-gap: 0;
}
.input-group li {
    display: contents;
}
.input-group label {
    width: 63px;
    white-space: nowrap;
}
.input-group label:empty {
    width: unset;
}
.input-group .input {
    min-width: 0;
    height: 40px;
    padding: 10px;
    border: 1px solid;
    border-color: color-mix(
        in srgb, var(--main-color) 33%, transparent
    ); background-color: color-mix(
        in srgb, var(--main-color) 5%, transparent
    ); font-size: 15px;
}
.input-group .input:focus {
    border-color: transparent;
    outline: 1px solid var(--main-color)
}
.input-group .input.error {
    border-color: #f00;
    background-color: #f003;
}
input[type="file"] {
    transition: 0.3s ease;
    cursor: pointer;
}
input[type="file"]:hover {
    background-color: color-mix(
        in srgb, var(--main-color) 10%, transparent
    );
}
input[type="file"]::file-selector-button,
input[type="file"] + button {
    position: absolute;
    right: 20px; bottom: 30px;
    width: 38px; height: 38px;
    margin: 1px; /**/
    border-left: 1px solid color-mix(
        in srgb, var(--main-color) 33%, transparent
    );
}
input[type="file"]::file-selector-button {
    border-width: 0 0 0 1px;
    background: #fff url(assets/upload.svg) center no-repeat;
    font-size: 0;
    cursor: pointer;
}
input[type="file"] + button {
    display: flex;
    width: 39px;
    outline: 1px solid transparent;
    background-color: #fff;
    transition: 0.5s ease;
}
input[type="file"] + button::before {
    content: "";
    width: 100%; height: 100%;
    background: url(assets/delete.svg) center no-repeat;
    transition: 0.2s ease;
}
input[type="file"] + button:hover {
    outline: 1px solid var(--main-color);
    background-color: var(--main-color);
}
input[type="file"] + button:hover::before {
    filter: invert(1) drop-shadow(0 0 0 #fff);
}
input[type="number"] {
    appearance: textfield;
    background: url(assets/calendar.svg) no-repeat;
    background-position: right 10px center;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    appearance: none;
}
.input-group .add-new,
.input-group + .add-new {
    border: 1px solid color-mix(
        in srgb, var(--main-color) 33%, transparent
    ); background-color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    color: var(--main-color);
    transition: background 0.5s ease, color 0.5s ease;
}
.input-group .add-new {
    grid-area: 1 / 3;
    height: 40px;
    transform: translateX(-11px);
    margin-right: -10px;
}
.input:focus + .add-new {
    border-color: transparent;
    outline: 1px solid var(--main-color)
}
.input-group + .add-new {
    width: calc(100% - 73px);
    margin: 10px 0 0 73px;
}
.input-group .add-new:hover,
.input-group + .add-new:hover {
    background-color: var(--main-color);
    color: #fff;
}
.output-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    margin-top: 30px;
}
.output-group .entry {
    display: flex;
    align-items: center;
    column-gap: 5px;
    position: relative;
    border: 1px solid;
    border-color: color-mix(
        in srgb, var(--main-color) 33%, transparent
    ); padding: 5px 5px 5px 8px;
    color: var(--main-color);
    transition: 0.3s ease;
}
.output-group .entry:hover {
    background-color: color-mix(
        in srgb, var(--main-color) 5%, transparent);
}
.output-group .remove {
    width: 18px;
    height: 18px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: #fff;
    transition: 0.3s ease;
    opacity: 0.5;
}
.entry:hover .remove {
    opacity: 0.6;
}
.entry .remove::before {
    content: "";
    display: block;
    height: 100%;
    background: url(assets/delete.svg) center no-repeat;
    background-size: 16px;
    transition: 0.5s ease;
}
.entry:hover .remove::before {
    transform: rotate(180deg);
}
.entry .remove::after {
    content: "";
    position: absolute;
    inset: 0;
}
/* MAIN PAGE */

.preview {
    flex-grow: 1;
}
.page {
    display: grid;
    grid-template: 1fr / auto 1fr;
    height: 100%;
    box-shadow: 0 0 0 1px #e6e6e6;
}
.column {
    display: flex;
    flex-flow: column;
    padding: 40px 30px;
}
.section:empty {
    display: none;
}
.section .title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 15px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}
.section .icon {
    display: flex;
}
.section .icon svg {
    height: 21px !important;
}
.left-column {
    min-width: 260px;
    max-width: 300px;
    row-gap: 35px;
    box-shadow: 0 0 0 1px var(--main-color);
    background-color: var(--main-color);
    color: #fff;
}
.identity .list {
    font-style: italic;
    letter-spacing: 0.5px;
}
.identity .fullname {
    margin: -8px 0 12px;
    font-size: 36px;
    line-height: 1em;
    font-weight: 700;
}
.identity .headline {
    margin-top: 5px;
    font-size: 18px;
}
.identity .photo {
    display: flex;
    justify-content: center;
    margin: 25px 0 -5px;
}
.identity .photo:only-child {
    margin-top: 0;
}
.identity .photo img {
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
}
.contact .list {
    display: flex;
    flex-flow: column;
    row-gap: 12px;
    margin: -5px 0 5px;
}
.contact .list li {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.contact .list img {
    width: 21px;
    margin: 0 0 -1px;
}
.left-column .stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}
.left-column .stack li {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-radius: 3px;
    background-color: #fff2;
    padding: 8px 12px;
    white-space: nowrap;
}
.skills:first-child,
.language:first-child {
    margin-top: 10px;
}
.skills .icon svg {
    filter: drop-shadow(0 0 0 #fffc);
}
.language .icon svg {
    filter: drop-shadow(0 0 0 #fff6);
}
.right-column {
    row-gap: 35px;
    background-color: #fff;
    color: #333;
}
.right-column .title {
    margin-bottom: 12px;
    color: var(--main-color);
}
.right-column .stack,
.right-column .stack li {
    display: flex;
    flex-flow: column;
}
.stack .head {
    display: flex;
    justify-content: space-between;
}
.stack .names {
    display: flex;
    flex-flow: column;
    row-gap: 3px;
    max-width: calc(100% - 100px);
    font-size: 18px;
    font-weight: 400;
}
.stack .names strong {
    font-weight: 400;
    color: var(--main-color);
}
.stack .names span {
    font-style: italic;
    font-size: 16px;
    color: #aaa;
}
.stack .years {
    display: flex;
    column-gap: 5px;
    padding: 3px 0;
    color: var(--main-color);
}
.career .stack {
    row-gap: 15px;
}
.career .stack li {
    row-gap: 10px;
}
.education .stack {
    row-gap: 12px;
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }
    html, body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #root, main {
        height: 100%;
        padding: 0;
    }
    .header, .footer,
    .data-form {
      display: none;
    }
    .left-column {
        background-color: var(--main-color);
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@media screen and (max-width: 1200px) {

    .main {
        flex-flow: column;
        row-gap: 40px;
        max-width: 100%;
        overflow-x: clip;
        padding: 0 1px;
    }
    .data-form {
        max-width: none;
        box-shadow: none;
    }
    .data-form::after {
        display: none;
    }
    .data-form .scroller {
        overflow: visible;
    }
    .data-form .form {
        display: flex;
        gap: 10px 10px;
        flex-wrap: wrap;
        position: static;
    }
    .fieldset {
        flex: 1 0 calc(50% - 5px);
        align-self: flex-start;
    }
    .fieldset .title {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    .fieldset .title::before {
        content: "";
        width: 11px;
        height: 11px;
        margin-top: -3px;
        border: solid var(--main-color);
        border-width: 0 1px 1px 0;
        transform: rotate(45deg);
        transition: 0.3s ease;
    }
    .fieldset .head.active
    .title::before {
        transform: rotate(-135deg);
        margin-top: 9px;
    }
    .fieldset .buttons {
        margin: -7px -5px;
    }
    .fieldset .body {
        display: none;
        transition: 1s ease;
        opacity: 0;
    }
    .fieldset .body.active {
        display: block;
        opacity: 1;
        @starting-style {
            opacity: 0;
        } /*start value last*/
    }
}

@media screen and (max-width: 660px) {

    .data-form .form {
        flex-flow: column;
        flex-wrap: nowrap;
    }
    .fieldset {
        align-self: unset;
    }
    .page {
        display: flex;
        flex-flow: column;
    }
    .left-column {
        max-width: none;
    }
    .identity .photo {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 460px) {

    .container {
        padding: 0 15px;
    }
    .header {
        justify-content: center;
        position: relative;
        padding-bottom: 80px;
    }
    .header .button {
        position: absolute;
        bottom: 20px;
        left: 50%;
    }
    .header #save {
        transform: translateX(-108%);
    }
    .header #print {
        transform: translateX(8%);
    }
}