* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    color: inherit;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    overflow-x: clip;
    background-color: #f6f6f6;
    font-family: 'segoe ui',
    ubuntu, helvetica, sans-serif;
    --main-color: #163853;
}
.container {
    display: flex;
    flex-flow: column;
    row-gap: 10px;
    font-size: 15px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main {
    display: flex;
    column-gap: 50px;
}
.form-group {
    box-shadow: 0 0 0 1px #ccc;
    background-color: #fff;
    padding: 20px;
}
.input-group {
    margin-top: 15px;
}
textarea {
    width: 100%;
    min-height: 150px;
}

.page {
    display: grid;
    grid-template: 1fr / auto 1fr;
    height: 100%;
    box-shadow: 0 0 0 1px #ccc;
}
.column {
    display: flex;
    flex-flow: column;
    padding: 40px 30px 30px;
}

.section:empty {
    display: none;
}
.section .title {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-bottom: 15px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
}
.section .icon {
    display: flex;
}
.section .icon svg {
    height: 21px !important;
}
.section .text {
    line-height: 25px;
    white-space: pre-line;
}

.left-column {
    max-width: 300px;
    row-gap: 35px;
    box-shadow: 0 0 0 1px var(--main-color);
    background-color: var(--main-color);
    color: #fff;
}
.identity .list {
    font-style: italic;
    letter-spacing: 1px;
}
.identity .fullname {
    margin: -8px 0 12px;
    font-size: 36px;
    line-height: 1em;
    font-weight: 700;
}
.identity .headline {
    margin-top: 5px;
    font-size: 18px;
}
.identity .photo {
    display: flex;
    justify-content: center;
    margin: 25px 0 -10px;
}
.identity .photo:only-child {
    margin-top: 0;
}
.identity .photo img {
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
}
.contact .list {
    display: flex;
    flex-flow: column;
    row-gap: 12px;
    margin-bottom: 5px;
}
.contact .list li {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.contact .list img {
    width: 21px;
    margin: 0 0 -1px;
}
.left-column .stack {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
}
.left-column .stack li {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-radius: 3px;
    background-color: #fff2;
    padding: 8px 12px;
    white-space: nowrap;
}
.skills:first-child,
.language:first-child {
    margin-top: 10px;
}
.skills .icon svg {
    filter: drop-shadow(0 0 0 #fffc);
}
.language .icon svg {
    filter: drop-shadow(0 0 0 #fff6);
}

.right-column {
    row-gap: 30px;
    background-color: #fff;
    color: #333;
}
.right-column .title {
    margin-bottom: 12px;
    color: var(--main-color);
}
.right-column .stack,
.right-column .stack li {
    display: flex;
    flex-flow: column;
}
.stack .head {
    display: flex;
    justify-content: space-between;
}
.stack .names {
    display: flex;
    flex-flow: column;
    row-gap: 3px;
    max-width: calc(100% - 100px);
    font-size: 18px;
    font-weight: 400;
}
.stack .names strong {
    font-weight: 400;
    color: var(--main-color);
}
.stack .names span {
    font-style: italic;
    font-size: 16px;
    color: #aaa;
}
.stack .years {
    display: flex;
    column-gap: 5px;
    padding: 3px 0;
    color: var(--main-color);
}

.career .stack {
    row-gap: 15px;
    margin-bottom: 5px;
}
.career .stack li {
    row-gap: 10px;
}
.career .body {
    /* border-radius: 4px; */
    /* padding: 12px 18px; */
    /* background: color-mix(in srgb, var(--main-color) 5%, transparent); */
}
.education .stack {
    row-gap: 10px;
    padding: 5px 0;
}

/* .right-column .stack {
    position: relative;
    margin-left: 10px;
    border-left: 1px dashed var(--main-color);
    padding-left: 25px;
}
.right-column .stack::before,
.right-column .stack::after {
    content: "";
    position: absolute;
    left: -5px;
    width: 9px;
    background-color: #fff;
}
.right-column .stack:before {
    top: 0px;
    height: 20px;
}
.right-column .stack:after {
    bottom: 0;
    height: 10px;
}
.right-column .stack li {
    position: relative;
    padding: 10px 0 5px;
}

.multi:last-child:before {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 0;
    left: -30px;
    width: 9px;
    background-color: #fff;
}
.multi:only-child:before {
    background: none;
}
.multi .names {
    position: relative;
}
.multi .names:before {
    content: "";
    position: absolute;
    top: 8px;
    left: -31px;
    width: 11px;
    height: 11px;
    box-shadow: 0 0 0 3px #fff;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    background-color: #fff;
} */
/* .multi .names:before {
    border: 4px double var(--main-color);
} */

@media print {
    @page {
        size: A4;
        margin: 0;
    }
    html, body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    #root, main {
        height: 100%;
    }
    .header, .footer,
    .data-form {
      display: none;
    }
    .left-column {
        background-color: var(--main-color);
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}