
tr:first-child td:first-child {
    border-top-left-radius: 5px;
}
tr:first-child td:last-child {
    border-top-right-radius: 5px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.cart th {
    padding: 12px 20px;
    font-size: 17px;
    font-weight: normal;
    text-transform: capitalize;
    color: #0c7e7c;
}
.cart td {
    width: 15%; /**/
    box-shadow: 0 0 0 1px #e6e6e6;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}
.cart .image {
    padding: 15px;
}
.cart .image a {
    display: flex;
    align-items: center;
    height: 70px;
    overflow: hidden;
    border-radius: 2px;
}
.cart .image img {
    width: 100%;
}
.cart .details {
    width: auto;
}
.cart .align {
    text-align: left;
}
.cart .wrap {
    display: flex;
    flex-flow: column;
    row-gap: 5px
}
.cart .name {
    font-size: 20px;
}
.cart .amount {
    align-self: flex-start;
    margin-top: 3px;
    padding: 2px 10px 4px;
    font-size: 15px;
}
.cart .qnty {
    display: table-cell;
}
.cart .quantity {
    display: inline-grid;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.cart .qty-input {
    width: 50px;
    height: 48px;
    font-size: 16px;
}
.cart .qty-button {
    width: 24px;
    height: 24px;
    background-color: #f6f6f6;
}
.cart .qty-button:hover {
    background-color: #f0f0f0;
}
.cart .qty-button::after {
    width: 8px;
    height: 8px;
}
.cart .error {
    display: block;
    position: absolute;
    font-size: 14px;
    color: #f00;
}
.cart .remove {
    width: 28px;
    height: 28px;
    border: 1px solid #888;
    border-radius: 50%;
    background: center no-repeat;
    background-image: url(../icons/clear.svg);
    background-size: 22px;
    transition: 0.5s ease;
    opacity: 0.65;
}
.cart .remove:hover {
    transform: rotate(180deg);
    border-color: #555;
    opacity: 1;
}
.cart .total {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    row-gap: 5px;
    margin: 30px 0;
    color: #555;
}
.cart .total-price {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.cart .total span {
    border-radius: 3px;
    background-color: #0c7e7c11;
    padding: 2px 8px 3px;
    color: #888;
}
.cart .total strong {
    margin: -1px 0 1px;
    font-size: 24px;
    color: #0c7e7c;
    filter: drop-shadow(0 0 0 #0c7e7c);
}
.cart .shipping {
    font-size: 15px;
    letter-spacing: 1px;
}
.cart .terms {
    display: flex;
    align-items: center;
    column-gap: 7px;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.cart .terms input {
    width: 13px;
    height: 13px;
    margin-bottom: -1px;
    appearance: none;
    border: 1px solid #555;
    accent-color: #0c7e7c;
    cursor: pointer;
}
.cart .terms input:checked {
    border-color: transparent;
    background-color: #0c7e7c99;
}
.cart .terms .void {
    border-color: #f00;
}
.cart .terms .void + label {
    color: #f00;
}
.cart .terms label {
    position: relative;
    cursor: pointer;
}
.cart .terms label::before {
    content: "";
    position: absolute;
    inset: 0 0 0 -10px;
}
.cart .terms .link {
    margin-left: -2px;
    color: #0c7e7c;
}
.cart .terms .link:hover {
    text-decoration: underline;
}
.cart .actions {
    column-gap: 10px;
    margin-top: 20px;
}
.cart .button {
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 17px;
    color: #fff;
}
.cart .discard {
    background-color: #bbb;
}
.cart .discard:hover {
    opacity: 0.9;
}
.cart .checkout {
    background-color: #fa0;
}
.cart .checkout:hover {
    opacity: 0.85;
}