.details {
    width: 100%;
    max-width: 1180px;
}
.wrapper {
    display: flex;
    column-gap: 5%;
}
.picture {
    flex: 1 1 50%;
}
.overview {
    flex: 1 1 50%;
    display: flex;
    flex-flow: column;
    row-gap: 20px;
    color: #555;
}
.overview > * {
    flex-grow: 1;
}
.breadcrumb {
    display: flex;
}
.breadcrumb a {
    text-transform: capitalize;
}
.crumb +li::before {
    content: "";
    display: inline-block;
    position: relative;
    bottom: 1px;
    width: 6px;
    height: 6px;
    margin: 0 12px;
    border: solid #333;
    border-width: 1px 1px 0 0;
    transform: rotate(45deg);
}
.details .prices {
    display: flex;
    align-items: baseline;
    column-gap: 12px;
}
.details .price:not(.old) {
    font-size: 22px;
    color: #0c7e7c;
    filter: drop-shadow(0 0 0 #0c7e7c66);
}
.details .price.old {
    position: relative;
    font-size: 20px;
    color: #999;
}
.details .price.old::after {
    content: "";
    position: absolute;
    inset: 10px 0 0;
    height: 2px;
    background-color: #fa0;
    transform: rotate(-15deg);
}
.details .discount {
    order: 1;
    font-size: 18px;
    color: #fa0;
}
.details .amount {
    order: 1;
    background: #0c7e7c11;
    padding: 1px 4px 1px 2px;
    border-radius: 3px;
    font-size: 17px;
    color: #888;
}
.details .description {
    line-height: 24px;
}
.details .inform-1 {
    font-style: italic;
}
.details .inform-1 a {
    margin-left: 5px;
    color: #0c7e7c;
}
.details .inform-1 a:hover {
    text-decoration: underline;
}
.details .stock {
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.details .stock img {
    opacity: 0.75;
}
.details .in-stock {
    color: #0c7e7c;
}
.details .low-stock {
    color: #fa0;
}
.details .no-stock {
    position: relative;
    padding-left: 24px;
    color: #f00;
}
.details .no-stock::before {
    content: "+";
    position: absolute;
    inset: 0 auto 0 0;
    transform: rotate(45deg);
    font-size: 32px;
    line-height: 16px;
    opacity: 0.75;
}
.details .action {
    display: flex;
    align-items: center;
}
.details .quantity {
    display: grid;
    grid-template: 1fr 1fr / 1fr auto;
    flex: 0 1 19%;
    min-width: 95px;
}
.details .input {
    grid-area: 1 / 1 / -1;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 4px 0 0 4px;
    background-color: #0c7e7c11;
    text-align: center;
    font-size: 17px;
}
.details .button {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 27px;
    background-color: #eee;
    padding: 3px 0;
}
.details .button:hover {
    background-color: #e3e3e3;
}
.details .button::after {
    content: "";
    width: 10px;
    height: 10px;
    border: solid #666;
    transition: 0.2s ease;
}
.details .increase::after {
    align-self: flex-end;
    border-width: 1px 1px 0 0;
    transform: rotate(-45deg);
}
.details .decrease::after {
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}
.details .purchase {
    flex-grow: 1;
    height: 54px;
    border-radius: 0 4px 4px 0;
    background-color: #fa0;
    padding: 0 28px;
    font-size: 17px;
    letter-spacing: 0.5px;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    filter: drop-shadow(0 0 0 #fff6);
}
.details .purchase:hover {
    background-color: #ffb006;
}
.details .inform-2 {
    font-size: 15px;
    letter-spacing: 1px;
    color: #000;
}
.details .shipping {
    display: flex;
    flex-flow: column;
    row-gap: 15px;
}
.details .delivery,
.details .pickup {
    display: flex;
    align-items: center;
    column-gap: 6px;
}
.details .delivery img {
    width: 26px;
    height: 25px;
    margin: 0 1px 0 -3px;
    opacity: 0.75;
}
.details .pickup img {
    margin-bottom: -2px;
    opacity: 0.75;
}