.nav-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.nav-list {
    display: flex;
    column-gap: 3px;
}
.nav-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    z-index: 1; /**/
    height: 100%;
    border-radius: 5px;
    background-color: #fff2;
    background-size: 20px;
    padding: 15px 25px;
    font-size: 17px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
    transform: skew(-25deg) translateX(10px);
}
.nav-link:hover {
    outline: 1px solid #0c7e7c;
    background-color: #fff3;
}
.nav-link img {
    margin-left: -5px;
    transform: skew(25deg);
    filter: drop-shadow(0 0 10px #fff9);
}
#shop .nav-link img {
    margin: 0 -2px -3px -5px;
}
.nav-link span {
    transform: skew(25deg);
    filter: drop-shadow(0 0 0 #fff6);
}
.nav-box {
    display: none;
    column-gap: 20px;
    position: absolute;
    left: 0; right: 0;
    max-width: 1236px;
    margin-inline: auto;
    box-shadow: 0 0 10px 5px #0001;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 20px;
    transition: 0.4s ease allow-discrete;
    transition-delay: 0.2s;
    transform: translateY(50px);
    opacity: 0; /*allow discrete*/
}
.nav-box.active {
    display: flex;
    transition-duration: 0.8s;
    transform: translateY(0);
    opacity: 1;
    @starting-style {
        transform: translateY(50px);
        opacity: 0;
    } /*start value goes last*/
}
.nav-box::before {
    content: ""; /*helper*/
    position: absolute;
    inset: -50px 0 0;
    height: 50px;
}
.sub-link {
    flex: 1 0 0;
    display: grid;
    place-items: center;
    align-content: center;
    overflow: hidden;
    background-color: #f2f2f2;
}
.sub-link img {
    grid-area: 1 / 1;
    width: 100%;
    transition: 0.2s ease;
    filter: saturate(0.95);
    opacity: 0.95;
}
.sub-link:hover img {
    opacity: 0.8;
}
.sub-link strong {
    grid-area: 1 / 1;
    font-family: "Kaushan Script";
    font-size: 46px;
    color: #0c7e7c;
    text-transform: capitalize;
    filter: drop-shadow(0 0 15px #fff);
}

@media (max-width: 1000px) {

    .menu-open {
        display: flex;
        width: 36px;
        height: 36px;
        box-shadow: 0 0 0 2px transparent;
        border-radius: 50%;
    }
    .menu-open img {
        max-width: none;
        transform: skew(-15deg);
    }
    .menu-close {
        position: absolute;
        top: 7px;
        right: -7px;
        z-index: 2;
        border: 2px solid #fff;
        border-radius: 50%;
        background-color: #021919;
        transform: translateX(100%);
    }
    .menu-close img {
        filter: invert(1);
    }
    .nav-bar {
        display: none;
        flex-flow: column;
        position: fixed;
        z-index: 3;
        inset: 17px auto 17px 17px;
        width: calc(100% - 75px);
        max-width: 320px;
        transition: 0.4s ease allow-discrete;
        opacity: 0; /*allow discrete*/
    }
    .nav-bar.active {
        display: flex;
        opacity: 1;
        @starting-style {
            opacity: 0;
        } /*start value last*/
    }
    .nav-bar::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background: #000c;
    }
    .nav-list {
        display: none;
        flex-grow: 1;
        flex-flow: column;
        border-radius: 4px;
        background-color: #fff;
    }
    .active .nav-list {
        display: flex;
    }
    .nav-item {
        border: solid #ddd;
        border-width: 0 0 1px;
    }
    .nav-link {
        transform: none;
    }
    .nav-link:hover {
        outline: none;
    }
    .nav-link img,
    .nav-link span {
        transform: none;
        filter: invert(1);
    }
    .nav-box { /*sub*/
        display: none !important;
    }
    body:has(.nav-bar.active) {
        overflow: hidden;
    }
}
@media (min-width: 1001px) {

    .menu-open, .menu-close {
        display: none !important;
    }
}