.search {
    display: flex;
}
.search .toggle {
    position: relative;
    z-index: 2;
    box-shadow: 0 0 0 2px transparent;
    border-radius: 50%;
    color: #fff;
}
.search .toggle.on {
    box-shadow: 0 0 0 2px #fff;
}
.search .toggle.on img {
    filter: invert(1);
    transition: 0.5s ease;
    opacity: 1;
    @starting-style {
        opacity: 0;
    } /*start value last*/
}
.search .toggle.on:hover img {
    transform: rotate(180deg);
}
.search .toggle svg {
    display: block;
    margin: auto;
}
.search-box {
    display: none;
    position: absolute;
    inset: 0 0 auto 0;
    z-index: 1;
    padding: 17px 20px;
    transition: 0.4s ease allow-discrete;
    opacity: 0; /*allow discrete*/
}
.search-box.active {
    display: block;
    opacity: 1;
    @starting-style {
        opacity: 0;
    } /*start value last*/
}
.search-box::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: #0009;
}
.search-box .form {
    display: flex;
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.2s ease;
}
.search-box .input {
    flex-grow: 1;
    height: 54px;
    border: none;
    background: none;
    padding: 0 15px;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.search-box .button {
    width: 54px;
    color: #0c7e7c;
}
.search .results {
    max-width: 600px;
    margin: auto;
}
.search .results .list {
    box-shadow: 0 -5px 0 #fff,
        0 0 10px 5px #0001;
    border-radius: 0 0 4px 4px;
    background-color: #f6f6f6;
    color: #000;
}
.search .results .item {
    border-top: 1px solid #e6e6e6;
}
.search .results .link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    transition: 0.3s ease;
}
.search .results .link:hover,
.search .results .active .link {
    background-color: #0c7e7c11;
}
.search .results .no-result {
    padding: 15px;
}
#shop.no-hover .nav-box {
    display: none;
    transition: none;
}
body:has(.search-box.active) {
    overflow: hidden;
}

@media (max-width: 1000px) {

    .search-box::before {
        background: #000c;
    }
}