.sidebar {
    display: flex;
    flex-flow: column;
    row-gap: 30px;
    width: 200px;
}
.sidebar .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px -10px;
    border-radius: 4px;
    padding: 10px 15px 10px 20px;
    background-color: #1882;
    transform: skew(-20deg);
}
.sidebar .wrap {
    display: block;
    transform: skew(20deg);
}
.sidebar .list {
    display: flex;
    flex-flow: column;
    row-gap: 20px;
}
.sidebar .item {
    font-size: 17px;
    line-height: 21px;
    text-transform: capitalize;
}
.sidebar .link {
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
}
.sidebar a::before {
    content: "";
    width: 6px;
    height: 6px;
    margin-bottom: -1px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    transform: rotate(45deg);
}
.sidebar a:hover,
.sidebar a.active {
    color: #0c7e7c;
}
.sidebar a:hover::before,
.sidebar a.active::before {
    border-color: #0c7e7c;
}
.sidebar .clear {
    width: 24px;
    height: 24px;
    border: 1px solid #222;
    border-radius: 50%;
    background: center no-repeat;
    background-image: url(../icons/clear.svg);
    transform: skew(20deg);
    transition: 0.5s ease;
    opacity: 0.8;
}
.sidebar .clear:hover {
    transform: skew(20deg) rotate(180deg);
}
.sidebar .min-max {
    display: flex;
    justify-content: space-between;
}
.sidebar .slider {
    height: 8px;
    appearance: none;
    box-shadow: inset 0 0 0 3px #fff;
    background-color: #0c7e7c;
    transform: skew(-25deg);
    cursor: pointer;
}
.slider::-webkit-slider-thumb {
    width: 15px;
    height: 14px;
    appearance: none;
    box-shadow: 0 0 0 3px #fff;
    border: 2px solid #0c7e7c;
    border-radius: 1px;
    background-color: #fff;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 14px;
    appearance: none;
    box-shadow: 0 0 0 3px #fff;
    border: 2px solid #0c7e7c;
    border-radius: 1px;
    background-color: #fff;
    cursor: pointer;
}
.sidebar .filter {
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}
.sidebar .checkbox {
    width: 12px;
    height: 12px;
    margin-bottom: -1px;
    appearance: none;
    border: 1px solid #333;
    accent-color: #0c7e7c;
    cursor: pointer;
}
.filter:hover .checkbox {
    border-color: #0c7e7c;
}
.sidebar .checkbox:checked {
    border-color: transparent;
    background-color: #0c7e7c99;
}
.sidebar .label {
    position: relative;
    cursor: pointer;
}
.sidebar .label::before {
    content: "";
    position: absolute;
    inset: 0 0 0 -10px;
}
:checked + .label,
.filter:hover label {
    color: #0c7e7c;
}