@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI Semilight"), local("SegoeUI-Semilight"),
        url(assets/fonts/SegoeUI-SL.woff2) format(woff2);
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "Kaushan Script";
    src: url(assets/fonts/KaushanScript.woff2) format(woff2);
    font-weight: normal;
    font-display: swap;
}
* {
    margin: 0 0;
    box-sizing: border-box;
    padding: 0 0;
    list-style: none;
}
*::before, *::after {
    box-sizing: border-box;
}
a {
    color: #0c7e7c;
    text-decoration: none;
    transition: 0.2s ease;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}
h1, h2 {
    font-weight: 400;
    color: #0c7e7c;
}
button {
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    overflow-x: hidden;
    background: #fff no-repeat;
    font-family: "Segoe UI", sans-serif;
    font-weight: 300;
}
.container {
    display: flex;
    flex-flow: column;
    max-width: 1920px;
    min-height: 100%;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    background-color: #0c7e7c;
    padding: 10px 15px;
    color: #fff;
}
.nav-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
}
.nav-list {
    display: flex;
    column-gap: 3px;
}
.nav-item a {
    color: #fff;
}
.nav-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    outline: 1px solid #0c7e7c;
    border-radius: 5px;
    background-color: #fff2;
    background-size: 20px;
    padding: 15px 25px;
    font-size: 17px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
    transform: skew(-25deg) translateX(10px);
}
.nav-link:hover {
    background-color: #fff3;
}
.nav-link img {
    margin-left: -5px;
    transform: skewX(25deg);
    filter: drop-shadow(0 0 10px #fff9);
}
.nav-link.shop img {
    filter: drop-shadow(0 0 0 #fff6)
            drop-shadow(0 0 10px #fff9);
    margin: 0 -2px -3px -5px;
}
.nav-link span {
    transform: skewX(25deg);
    filter: drop-shadow(0 0 0 #fff6);
}
.nav-box {
    display: none;
    column-gap: 20px;
    position: absolute;
    left: 0; right: 0;
    z-index: 1;
    max-width: 1200px;
    margin-inline: auto;
    box-shadow: 0 0 10px 5px #0001;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 20px;
    transform: translateY(100px);
    transition: 0.5s ease allow-discrete;
    opacity: 0; /*allow discrete*/
}
.nav-box.active {
    display: flex;
    transform: translateY(0);
    opacity: 1;
    @starting-style {
        transform: translateY(100px);
        opacity: 0;
    } /*start value goes last*/
}
.sub-link {
    flex: 1 0 0;
    display: grid;
    place-items: center;
    background-color: #f2f2f2;
    transition: 0.5s ease;
}
.sub-link:first-child {
    transform: translateX(50%);
}
.sub-link:last-child {
    transform: translateX(-50%);
}
.nav-box.active .sub-link {
    transform: translateX(0);
}
.nav-box .sub-link:hover {
    transform: scale(1.01) skew(0.1deg);
}
.sub-link img {
    grid-area: 1 / 1;
    width: 100%;
}
.sub-link strong {
    grid-area: 1 / 1;
    font-family: "Kaushan Script";
    font-size: 46px;
    color: #0c7e7c;
    text-transform: capitalize;
    filter: drop-shadow(0 0 15px #fff);
}
.action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
    min-width: 200px;
}
.action button {
    background: none;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 3% 2% 5%;
}
.section {
    max-width: 1600px;
    margin: auto;
}
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 3%;
    font-size: 26px;
    white-space: nowrap;
    text-transform: uppercase;
}
.section-title::before,
.section-title::after {
    content: "";
    width: 42px;
    height: 42px;
    background-color: #fa0;
    mask: url(assets/icons/food.svg) no-repeat center;
    mask-size: contain;
}

.featured {
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
    grid-gap: 20px;
}
.product {
    display: flex;
    flex-flow: column;
}
.product .data {
    display: none;
}

.about h1,
.not-found {
    font-family: "Kaushan Script";
    font-size: 46px;
    text-transform: none;
}
.about .image {
    display: block;
    margin: 30px auto;
}
.about .text {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    color: #0c7e7c;
}
.about .text a {
    font-weight: 400;
    text-decoration: underline;
}

.footer {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    background-color: #0c7e7c;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.footer a {
    text-decoration: underline;
    color: #fff;
}

body {
    background-image: url(assets/background.webp);
    background-position: center -60px;
    background-size: 100% auto;
}