@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI"), local(SegoeUI),
        url(assets/SegoeUI.woff2) format(woff2);
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semilight'), local('SegoeUI-Semilight'),
        url(assets/SegoeUISL.woff2) format(woff2);
    font-weight: 300;
    font-display: swap;
}
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: border-box;
}
a {
    color: #0c7e7c;
    transition: 0.2s ease;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}
h1, h2 {
    font-weight: 400;
    color: #0c7e7c;
}
button {
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
}

html {
    display: flex;
    height: 100%; /*fallback*/
    height: -webkit-fill-available;
}
body {
    width: 100%;
    overflow-x: hidden;
    background: #fff url(assets/background.jpg)
                center -60px no-repeat;
    background-size: 100% auto;
    font-family: "Segoe UI", sans-serif;
}
.container {
    display: flex;
    flex-flow: column;
    max-width: 1920px;
    min-height: 100%;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    background-color: #0c7e7c;
    padding: 10px 15px;
    color: #fff;
}
.nav-bar {
    display: flex;
    column-gap: 3px;
}
.nav-link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    outline: 1px solid #0c7e7c;
    border-radius: 10px;
    background-color: #fff2;
    background-size: 20px;
    padding: 15px 25px;
    font-size: 17px;
    color: #ffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s ease;
    transform: skew(-25deg) translateX(10px);
}
.nav-link:hover {
    background-color: #fff3;
}
.nav-link img {
    margin-left: -5px;
    transform: skewX(25deg);
    filter: drop-shadow(0 0 10px #fff9);
}
.nav-link.shop img {
    filter: drop-shadow(0 0 0 #fff6)
            drop-shadow(0 0 10px #fff9);
    margin: 0 -2px -3px -5px;
}
.nav-link span {
    transform: skewX(25deg);
    filter: drop-shadow(0 0 0 #fff6);
}
.action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 15px;
    min-width: 200px;
}
.action button {
    background: none;
}

.main {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 3% 2% 5%;
}
.section {
    max-width: 1600px;
    margin: auto;
}
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin: -1% 0;
    font-size: 30px;
    font-weight: 300;
    /* letter-spacing: 1px; */
    white-space: nowrap;
    /* text-transform: uppercase; */
}
.section-title::before,
.section-title::after {
    content: "";
    width: 42px;
    height: 42px;
    background-color: #fa0;
    mask: url(assets/icons/food.svg) no-repeat center;
    mask-size: contain;
}
.big-banner {
    grid-column: 1 / -1;
    display: grid;
    align-content: center;
    justify-items: center;
    max-height: 500px;
    margin: 3% 0 4%;
    transition: 0.3s ease;
    /* animation: swing 2s linear infinite; */
}
@keyframes swing {
    25% {transform: translateX(10px);}
    75% {transform: translateX(-10px);}
}
.big-banner:hover {
    animation-play-state: paused;
    opacity: 0.9;
}
.big-banner img {
    border-radius: 15px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    background-color: #0c7e7c;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.footer a {
    color: #fff;
}